/* Especificidad = 001 */
header {
    display: flex;
}

/* Especificidad = 001 */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 1.5em;
}

/* Especificidad = 002 */
section > div {
    width: 100%;
    height: 50vh;
}


/* Especificidad = 001 */
table {
    width: 100%;
}


@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad = 001 */
    header {
        flex-direction: column; 
        align-items: center;    
    }

    /* Especificidad = 003 */
    article h2 + img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 1em 0;
    }

    /* Especificidad = 002 */
    header h1,
    header nav {
        display: flex;         
        flex-direction: column; 
        align-items: center;   
    }

    /* Especificidad = 001 */
    nav {
        flex-direction: column; /* redefinición intencionada por media query */
        gap: 1em;               /* redefinición intencionada por media query */
                                
    }

    /* Especificidad = 012 */
    body > p:first-of-type {
        display: none; 
    }

    /* Especificidad = 001 */
    video {
        width: 100%;
        height: auto;
    }

    /* Especificidad = 001 */
    audio {
        width: 100%;
    }

    /* Especificidad = 002 */
    section > div {
        width: 100%;  /* redefinición intencionada por media query */
        height: 40vh; /* redefinición intencionada por media query */
    }

        /* Especificidad = 001 */
    section {
        overflow-x: auto;  /*Para poder ver bien las tablas en pantallas pequeñas*/
    }
}
